header{  
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
  
    

    img{
     
       width: 100%;
       margin-top: 4%;
       margin-bottom: 3%;
      }
      .redes{
        display:flex;
        justify-content:end;
        align-items:center;
        width: 100%;
        height:50px;
        background: black;
      
       
      
      a{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        color: aliceblue;
        &:hover{
          color: rgba(239, 37, 18, 0.909);
        }
        .icono-redes{
        color: rgba(239, 37, 18, 0.909);
        font-size:25px;
        padding: 0 0.5rem;
    
        &:hover{
          color: aliceblue;
        }
   
        }
    }
    
       }
       .icono-redes{
        color: rgba(239, 37, 18, 0.909);
        font-size:25px;
        
        &:hover{
          color: aliceblue;
        }}
        h2{
          text-shadow: 0.5px 0.5px 0.8px rgba(38, 38, 38, 0.371);
        }
  
}

@media (max-width:490px){
  header{
    img{
      width: 100%;
    }
    h2{
      font-size: 1.1rem;
    }
    .redes{
      a{
        font-size: 0.7rem;
 
       font-weight: normal;
      .icono-redes{
        font-size: 1.5rem;
     
      }
    }
    }
  }
}