.count-produc{
     display: flex;
     justify-content: center;
     align-items: center;position:absolute;
     margin: 410px 1px 1px 116px;


     button{
        
        padding: 10px;
        font-size: 24px;
        margin: 12px;
     }
     .menos{
        margin-left: 200px;
     }
     p{
        margin-bottom:330px;
     }

}
