.backshadow {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
   
}

.backshadow .custom-modal {
    margin-top: 40px;
    width: 63%;
    height: 540px;
    background-color: #fff;
    position: relative;
    padding: 20px;
    overflow: scroll;
}

.delete-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}
.close{
    margin-left: 92%;
   
}
input[type=text], [type=number], [type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

button[type=submit]{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 40% 0 auto;
    width: 20%;
    height: 50px;
    border: 1px solid black;
  
}

@media screen and (max-width:550px){
    .backshadow .custom-modal{
        width: 80%;
        margin: auto;
    }
    button[type=submit]{
        width: 100%;
    }
      
  }
  