.nav-superior{
    display: flex;
    flex-flow: row;
    margin-top: 4%;
    margin-bottom: 6%;
   
}
.categorias{
  
   text-align: center;
   border-radius: 3px;
   margin-left:45%;
   position: relative;
   select{
    color:rgba(226, 13, 13, 0.735);
    font-size:1.3rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.139);
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(226, 13, 13, 0.735);
    transition: all .6s  ;
    &:hover{
        font-size: 1.4rem;
       }
   }
  
}
.inicio{
    color:rgba(226, 13, 13, 0.735);
    font-size:1.5rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.139);
    border: none;
    background: transparent;
    border-bottom: 1px solid rgba(226, 13, 13, 0.735);
   margin-left: 35%; 
   position: absolute;
   transition: all .6s  ;
   &:hover{
    font-size: 1.6rem;
   }
}

@media (max-width:700px){
   .nav-superior{

    .inicio{
        margin-left: 28%;
    }
}
  }

  @media (max-width:489px){
    .nav-superior{
        .categorias{
            margin-left: 32%;
        }
     .inicio{
         margin-left: 15%;
     }
 }
    
   }
   @media (max-width:419px){
    .nav-superior{
        .categorias{
            margin-left: 32%;
        }
     .inicio{
         margin-left: 12%;
     }
 }
    
   }
   
