.nav-superior{
    display: flex;
    flex-flow: row;
    margin-bottom: 3%;
    padding-top: 2.5rem;
    background-color: #fffffff1;
    position: -webkit-sticky; 
    position: sticky; 
    top: 0px; 
    height: 80px;
    z-index: 2;
    
}
.categorias{
  
   text-align: center;
   border-radius: 3px;
   margin-left:35%;
   position: relative;
   select{
    color:#DD1700;
    font-size:1.4rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.139);
    border: none;
    background: transparent;
    border-bottom: 1px solid #DD1700;
    transition: all .6s  ;
 
    
    &:hover{
        font-size: 1.5rem;
       }
   }
  
}
.inicio{
    color:#DD1700;
    font-size:1.5rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.139);
    border: none;
    background: transparent;
    border-bottom: 1px solid #DD1700;
   margin-left: 25%; 
   position: absolute;
   transition: all .6s  ;
   &:hover{
    font-size: 1.6rem;
   }
}
.btn-nosotros{
    color:#DD1700;
    font-size:1.5rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.139);
    border: none;
    background: transparent;
    border-bottom: 1px solid #DD1700;
    margin-left: 13%;
    transition: all .6s  ;
    &:hover{
     font-size: 1.6rem;
    }
}

@media (max-width:700px){
   .nav-superior{

    .inicio{
        margin-left: 16%;
    }
    .categorias{
        margin-left:27%;
      select{
        width: 120px;
      }
    }
}
  }

  @media (max-width:550px){
    .nav-superior{
        .categorias{
            margin-left: 19%;
        }
     .inicio{
         margin-left: 5%;
         
     }
 }
    
   }
   @media (max-width:419px){
    .nav-superior{
       
    background-color: #ffffffd8;
        .categorias{
            margin-left: 22%;
         
        }
     .inicio{
         margin-left: 5%;
     }
 }
    
   }
   
