.home{
    width: 94%;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.4;
    margin: 70px auto;
    text-align: center;
    text-shadow:  1.1px 1.8px 0px rgba(0, 0, 0, 0.27);
}


@media (max-width:415px){
   .home{
    width: 90%;
   }
}