.contenedor{
    display: flex;
    flex-flow: row ;
    margin: auto;
    border-top:1px solid rgb(107, 106, 106) ;
    width: 100%;

    img{
        width: 145px;
        height: 100%;
        border-radius: 15px;
        margin-top: 10px;
     }
     .hijo{
     padding: 1rem 2rem;
     text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.162);

     h2{
      color: rgb(0, 0, 0);
     }
     h3{
      color: rgb(0, 0, 0);
     
     }

     button{
      color: rgb(0, 0, 0);
      border-radius: 10px;
        font-size: 16px;
        width: 60px;
        height: 60px;
        border: none;
       
        .delete{
        color: rgba(240, 53, 28, 0.919);
        font-size: 35px;
     
        margin: -80% 0 110px 250px;
       }
     }
    
    }    

}
.app{
  p{
    font-size: 1.6rem;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  }
  .vaciar{
    width: 80px;
    display: flex;
    align-items: center;
   border: 1px solid rgba(250, 76, 52, 1);
   border-radius: 6px;
     font-size: 12px;
     margin: 0 0 40px 10px ;
     .vaciar-icono{
       font-size: 24px;
     }
    
   }
   .pagar{
     display: flex;
     justify-content: center;
     align-items: center;
     color: aliceblue;
     width: 160px;
     height: 34px;
     font-size: 20px;
     background-color:rgba(77, 77, 255, 0.973);
     margin-top: 40px;
     margin-left: 33%;
     border-radius: 7px;
     box-shadow: 1px 3px 3px 0px rgba(0, 0, 0, 0.25);
    }
}

form{
  margin-top: 10%;
  button{
    border-radius: 8px;
   
  }
}

@media (max-width:800px){ 
  .app{
    .pagar{
      margin-left: 29%;
    }
  }
  .contenedor{
 
    img{
      width: 110px;
      height: 100%;
      border-radius: 15px;
      margin-top: 10px;
   }
  .hijo{
    padding: 0.9rem 1rem;
    line-height: 1.4;
    h2{
     font-size: 1.2rem;
    }
    h3{
      font-size: 1rem;
 
    }

     button{
      .delete{
      font-size: 28px;
      margin: -80% 0 110px 200px;
     }
    }
  }
}
}

@media (max-width:574px){ 
  .app{
    p{
      font-size: 1.2rem;
    }
    .pagar{
      margin-left: 22%;
    }
  }
  .contenedor{
    
    img{
      width: 100px;
      height: 90%;
      margin-top: 16px;
   }
  .hijo{
    padding: 0.9rem 1rem;
    line-height: 1.4;
    h2{
     font-size: 1rem;
    }
    h3{
      font-size: 0.9rem;
 
    }

     button{
      .delete{
      font-size: 28px;
      margin: -70% 0 10px 110px;
     }
    }
  }
}
}
