.app{
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family: -webkit-body;
    img{
        width: 200px;
        border-radius: 26px;
        margin-bottom: 8px;
     }
     h1{
      color: rgb(255, 255, 255);
      background-color: rgb(43, 40, 40);
      border-radius: 10px;
      padding-left: 40px;
      margin: 3px 0 4px 8px;
     }
     h2{
      color: rgb(255, 255, 255);
      background-color: rgb(41, 30, 30);
      border-radius: 10px;
      padding: 6px;
      margin: 3px 0 0 8px;
     }
     h3{
      color: rgb(255, 255, 255);
      background-color: rgb(41, 30, 30);
      border-radius: 10px;
      padding: 6px;
      margin: 3px 0 0 8px;
     }
     button{
      color: rgb(255, 255, 255);
      background-color: rgb(37, 37, 37);
      border-radius: 10px;
      padding: 4px;
        font-size: 16px;
        width: 100px;
        height: 60px;
        border: 1px solid #CCC;
        margin: 3px 0 0 8px;
       
     }
     p{
      font-size: 16px;
      margin: 20px;
      padding: 10px;
     }
}