.count-produc{
   
    width: 100%;
   
    button {
    margin: 5px;
    background: white;
    font-size: 20px;
    width: 50px;
    border: 1px solid #CCC;
    }
  

    span {
        font-size: 26px;
        margin:  5px;
    }
}
.agregar{
    button{
        width: 100%;
        font-size: 15px;
    }

   
}


