.consultar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin-top: 7%;
    margin-bottom: -300px;
   
   
  
    .producto{
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 100%; 
      padding-top: 1rem;
      height: 250px;
     
      img{
      width: 220px;
      border: 1.3px solid #c0bdbd;
      border-right: none;
      
  }
    .descripcion{
      display: flex;
      flex-flow: column ;
      justify-content: center;
      align-items: flex-start;
      padding-left: 1rem;
      line-height: 1.5;
      border: 1.3px solid #c0bdbd;
      border-left: none;
      width:250px;
      h2{
        margin-top: -30px;
      }
      h4{
        margin-bottom: 10px;
      }
      p{
         @keyframes moveUpDown {
          0%, 100% {
            transform: translateY(0);
          }
          50% {
            transform: translateY(-10px); /* Ajusta la distancia que quieres que se mueva hacia arriba */
          }
        }
        margin-left: -26px;
        margin-top: 10px;
        .flecha{
          animation: moveUpDown 2s ease-in-out infinite;
          font-size: 1.8rem;
          margin-bottom: -10px;
          color: #DD1700;
        }
      }
      select{
        height: 35px;
        border: 0.8px solid #DD1700;
        border-radius: 8px;
    margin-bottom:-30px;
      margin-top: -5px;
      font-size: 1.1rem;
      color: #DD1700;
      background-color:transparent;
      width:100% ;
      text-align: start;
      text-shadow:  0.6px 0.6px 0px rgba(0, 0, 0, 0.527);
      }
      .wpp{

        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        background-color: rgb(51, 194, 92);
        color: aliceblue;
        font-size: 1rem; 
        width: 110px;
        height: 36px;
        border-radius: 11px;
        margin-top: 5%;
        margin-left: 10%;
        border: none;
        box-shadow:  1px 2px 2px 1px rgba(43, 42, 42, 0.527);
      
      &:hover{
        color: #ffffff;
      }
        .icom-wpp{
          font-size: 1.4rem;
         
        }
      }
    }
       
     }
    }

    @media (max-width:515px){
      .consultar{
        justify-content: center;
        align-items: center;
        
        .producto{
          width: 110%;
          height: 230px;
      img{
        width: 43%;
      }
          .descripcion{
            width: 199px;
          }
        }
      }
    }
 
