.item-detail-image{
    border:solid 1px black;
    margin:auto ;
    width: 300px;
    height: auto;

}


.item-detail-info{
    position: absolute;
    margin: -300px 3px 590px 305px;
    p{
        color: white;
        font-size: 32px;
    }
    button {
        background: white;
        font-size: 20px;
        padding: 10px;
        width: 50px;
        border: 1px solid #CCC;
        }
   
    span{
        color:rgb(255, 255, 255);
        padding-top: 40px;
        font-size: 20px;
    }
}
.btn-terminar{
    width: 150px;
    height: 150px;
    button{
        width: 100%;
        margin: 10px 5px;
        background-color: rgb(26, 113, 26);
        color: aliceblue;
    }
}
@media screen and (max-width:647px){
    .item-detail-image{
        width: 250px;
        height: auto;
    
    }
    
    .item-detail-info{
        width: 80%;
        margin:auto;
        position: relative;
        .btn-terminar{
            margin: auto;
        }
      
    }


  }