.item-detail-image{
    border:solid 1px black;
    margin-left: 100px;
    width: 400px;
    height: 500px;
}

.reme2{
    border:solid 1px black;
    position: absolute;
    margin: -480px 3px 590px 1px;
    width: 50px;
    height: 60px;
}
.reme3{
    border:solid 1px black;
    position: absolute;
    margin: -400px 3px 590px 1px;
    width: 50px;
    height: 60px;
}

.item-detail-info{
    button {
        background: white;
        font-size: 20px;
        padding: 10px;
        width: 50px;
        border: 1px solid #CCC;
        }
    position: absolute;
    margin: -480px 3px 590px 520px;
    span{
        padding-top: 40px;
        font-size: 20px;
    }
}
.btn-terminar{
    width: 150px;
    height: 150px;
    button{
        width: 100%;
        margin: 22px;
        background-color: rgb(26, 113, 26);
        color: aliceblue;
    }
}