*{
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-weight:bolder;
}

.icono-carrito{
  display: inline-flexbox;
  width:auto;
  margin: 1px 0 0 20%;
  button{
    background: white;
    border: none;
    color: rgba(250, 76, 52, 1);
    font-size: 26px;

    .carrito{
      font-size: 38px;
      color: rgba(250, 76, 52, 1);
      margin-bottom: -10px;
    }
  }
}
.producto-en-carro{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 50px;
  .carrito{
    color: rgba(250, 76, 52, 1);
    font-size: 35px;
    margin: 1px 10px;
    padding: 2px;
  }
  h3{
    color: rgba(250, 76, 52, 1);
    font-size: 32px;
    margin: 0px 10px;
  }
}

.noHayProductos{
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: rgb(53, 49, 49);
  width: 50%;
  margin:180px auto;
  padding: 20px;
  border-radius: 16px;
}

.contac{
  width: 70%;
  margin:30px  auto;
  height: 310px;

  form {
   margin: auto;
   button{
   width: 50%;
   border-radius: 12px;
   margin-left: 25%;
  }
  }
}

.pagar-todo{
  h2{
    display: flex;
    justify-content: center;
    align-items:center;
    width:auto;
    font-size: 35px;
  }
  p{
    display: flex;
    justify-content:start;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;
    background: rgb(62, 57, 57);
    color: white;
    height: 60px;
    border-radius: 15px;
   
  }
}



@media screen and (max-width:1021px){
  .icono-carrito{
    margin: 1px 0 0 60%;
  }
    
}

@media screen and (max-width:767px){
  .icono-carrito{
    margin: 1px 0 0 55%;
  }
}

@media screen and (max-width:426px){
  .icono-carrito{
    margin: 1px 0 0 29%;
  }
  .noHayProductos{
    color: rgb(255, 255, 255);
    font-size: 23px;
    background-color: rgb(53, 49, 49);
    width: 80%;
    
    padding: 18px;
   
  }
    
}
@media screen and (max-width:388px){
  .icono-carrito{
    margin: 1px 0 0 18%;
    button{
    font-size: 18px;
 
  .carrito{
    font-size: 30px;
  }
}
  }
}
    

.footer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin:80vh 0 0  auto;
  background: rgb(0, 0, 0);
  width:auto;
  height: 70px;
  a{
    color: rgba(250, 76, 52, 1);
    margin: 10px;

}
}


