*{
  margin: 0;
  padding: 0;
}


body{
  background:linear-gradient(rgba(6, 6, 6, 0.6),rgba(23, 23, 23, 1)), 
  url(https://media.istockphoto.com/photos/baiting-mate-picture-id466323383?k=20&m=466323383&s=170667a&w=0&h=jzfRNTacK0IFj4MnrdqTwHkW67IqTP8vWar8uNRBR2E=);

}
.lista-productos{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 260px;
  background-color: rgb(41, 41, 41);
  img{
     width: 100%;
     border-radius: 26px;
  }
  margin:10px auto ;
  h2{
    color: rgb(255, 255, 255);
    background-color: rgb(53, 49, 49);
    font-size: 40px;
    font-family: -webkit-body;
    border: 1px solid #CCC;
}
h3{
  color: rgb(255, 255, 255);
}
span{
  color: rgb(255, 255, 255);
  font-size: 35px;
    font-family: -webkit-body;
}
p{
  color: rgb(255, 255, 255);
  font-size: 30px;
    font-family: -webkit-body;
}
button{

  font-size: 25px;
  padding: 5px;
  width: 70%;
  border-radius: 18px;
  
}
}


.icono-carrito{
  display: inline-flexbox;

width:auto;
  margin: 1px 0 0 920px;
  button{
    background: white;
    font-size: 20px;
    padding: 5px;
    width: 50px;
    border: 1px solid #CCC;
  }
}

.noHayProductos{
  color: rgb(255, 255, 255);
  font-size: 25px;
  background-color: rgb(53, 49, 49);
  width: 50%;
  margin:180px auto;
  padding: 20px;
  border-radius: 16px;
}

.contac{
  width: 70%;
  margin:30px  auto;
  height: 310px;

  form {
   margin: auto;
   button{
   width: 50%;
   border-radius: 12px;
   margin-left: 25%;
  }
  }
}




@media screen and (max-width:1021px){
  .icono-carrito{
    margin: 1px 0 0 670px;
  }
    
}

@media screen and (max-width:722px){
  .icono-carrito{
    margin: 1px 0 0 265px;
  }
    
}
    

.footer{
  opacity: 0.9;
  display: flex;
  align-items: center;
  margin:150px 0 0  auto;
  background: #CCC;
  width:auto;
  height: 70px;

  h1{
    margin: auto;
    font-size: 19px;
  }
  a{
  color: rgb(39, 37, 37);
  margin: auto;

}
}


