.top2{
    margin-left:96.6%;
    position: -webkit-sticky; 
    position: sticky; 
    top:400px;
    background-color: transparent;
    border: none;
    color: rgba(59, 57, 57, 0.841);
   
    
    .topIcon2{
        border-radius: 10px;
        font-size: 1.7rem;
        background-color: transparent;
        box-shadow: 1px 2px 2px 1px rgba(67, 66, 66, 0.25);
     }
    }
     @media (max-width:748px){
        .top2{
            margin-left: 95%;
        }
     }
     @media (max-width:476px){
        .top2{
            margin-left: 87%;
        
        }
     }